body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.redefinirSenha-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 100%;
    max-width: 350px;
}

.redefinirSenha-logo {
    max-width: 150px;
    margin-bottom: 20px;
}

.redefinirSenha-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.redefinirSenha-message {
    padding: 10px 20px;
    background-color: rgb(251, 205, 205);
    border: 1px solid rgb(248, 144, 145);
    margin-bottom: 20px;
}

.redefinirSenha-form {
    margin-bottom: 20px;
}

.redefinirSenha-input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.redefinirSenha-input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.redefinirSenha-input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

.redefinirSenha-input-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.redefinirSenha-btn-submit {
    background-color: #007BFF;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.redefinirSenha-btn-submit:hover {
    background-color: #0056b3;
}

.redefinirSenha-login {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px 8px;
    border-radius: 4px;
    color: #333;
    border: 1px solid transparent;
    cursor: pointer;
}

.redefinirSenha-login:hover {
    text-decoration: underline;
    border: 1px solid rgb(156, 178, 246);
}

.redefinirSenha-login:focus {
    text-decoration: underline;
    border: 1px solid rgb(156, 178, 246);
}
